@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

@font-face {
  src: url("./fonts/Titania-Regular.ttf");
  font-family: "sub";
}
@font-face {
  src: url("./fonts/lora/Lora-VariableFont_wght.ttf");
  font-family: "main";
}

:root {
  --scrollbar-width: 6px;
  --scrollbar-height: 6px;
  --scrollbar-thumb-bradius: 1rem;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  background: #000;
}
*::-webkit-scrollbar:vertical {
  width: var(--scrollbar-width);
}
*::-webkit-scrollbar:horizontal {
  height: var(--scrollbar-height);
}
*::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-thumb-bradius);
  background-color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* MUI CUSTOMIZATIONS */
.MuiTextField-root svg {
  fill: whitesmoke;
}

.MuiTextField-root label {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
}

.MuiTextField-root input {
  color: white;
}

.MuiAutocomplete-listbox,
.MuiAutocomplete-listbox ul {
  padding: 0 !important;
}
.MuiPopperUnstyled-root,
.MuiPopperUnstyled-root > * {
  color: white;
  background: #1f1f1f;
}

/* END */

@media (max-width: 360px) {
  :root {
    --scrollbar-width: 4px;
    --scrollbar-height: 4px;
    --scrollbar-thumb-bradius: 0.5rem;
  }
}
